
.CalendarLauncherComponent { 
    display: flex;
	position: relative;
	margin-top: 2px;
	width: 8%;	
	.calendarButton { 
		background: transparent; 
		border: none;
		&:focus {outline: none;}
		div {margin: 0;}
	}
	.calendarIcon {     
		width: 2em; 
		height: 2em;
		fill: white; 
	}
}